@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 2vw 7vw;
    justify-content: space-between;
    height: 12vh;
    background-color: #111;
    z-index: 10;
}

.nav2 {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.nav2 h4 {
    text-transform: uppercase;
    font-size: 0.85vw;
    font-weight: 600;
    margin-bottom: 2vw;

}

.nav2 h5 {
    display: none;
    overflow: hidden;
}

.nav2 h5 span {
    font-size: 0.85vw;
    font-weight: 600;
    line-height: 2;
    transform: translateY(25px);
    display: inline-block;
    color: #dfdbdb;
}

.nav-elem h5 span:hover{
    cursor: pointer;
    color: #fff;
}

button {
    background-color: #0BA34E;
    border: none;
    display: flex;
    padding: 8px 12px;
    align-items: center;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1vw;
    gap: 20px;
}

button svg {
    height: 1.1vw;
}

#nav-bottom {
    width: 86.5%;
    height: 0vh;
    position: absolute;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid #dadada;
    background-color: #111;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page1 h1 {
    font-size: 8vw;
    font-weight: 700;
    line-height: 8vw;
}

#page1 h1 svg {
    height: 5.5vw;
    width: 5.5vw;
    background-color: #0BA34E;
    border-radius: 50%;
}

#page1 p {
    text-align: center;
    font-weight: 400;
    margin-top: 6vh;
}

#page1-something {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

#page1-something h4 {
    font-weight: light;
    padding: 5px 10px;
    font-weight: 500;
    border: 1px solid rgb(98, 97, 97);
    border-radius: 30px;
    color: #c0bfbf;
}

#moving-div {
    position: absolute;
    bottom: 3%;
    white-space: nowrap;
    padding: 0 1.5vh;
    overflow: hidden;
    width: 45%;
}

#moving-div .move {
    display: inline-block;
    animation: moving;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img {
    margin: 0 1.2vw;
    height: 1.2vw;
}

@keyframes moving {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }

}

#moving-div #blur-left {
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to left, transparent, #111);
}

#moving-div #blur-right {
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(to right, transparent, #111);
}

#page2 {
    height: 100vh;
    /* width: 100%; */
    background-color: #111;
    position: relative;
    padding: 2vw 10.5vw;
    padding-bottom: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #333;
}

#page2-left {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1vw 0;
}

#page2-left p {
    font-size: 0.9vw;
}

#page2-left h5 {
    width: 75%;
    font-size: 1vw;
    font-weight: 400;
}

#page2-right {
    height: 100%;
    width: 50%;
}

.right-elem {
    position: relative;
    padding-top: 0.5vw;
    padding-bottom: 4vw;
    display: flex;
    gap: 50px;
    border-top: 1px solid #585858;
}

.right-elem:hover {
    border-top: 2px solid white;
}

.right-elem h2 {
    font-size: 1.4vw;
    font-weight: 400;
    width: 75%;
    z-index: 1;
}

.right-elem .img {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale: 0;
}

.side1 {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding-top: 0.4vw;
    width: 10vw;
}

.side1 span {
    font-weight: 400;
    color: #848282;
    padding-left: 1vw;
}

.side1 img {
    height: 1.3vw;
    filter: invert(1);
    padding-left: 1vw;
}

#page3 {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #111;
    background-image: url(assets/img.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page3-play {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.page3-play h5 {
    color: black;
    font-size: 1vw;
    background-color: aliceblue;
    border-radius: 50px;
    padding: 0.5vw 1vw;
    font-weight: 600;
    opacity: 0;
    text-transform: uppercase;
    transform: translateY(10%);
    transition: all ease 0.5s;
}

.page3-play:hover h5 {
    opacity: 1;
    cursor: pointer;
    transform: translateY(0);
}

.page3-play .icon {
    background-color: rgb(249, 249, 249);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.3vw;
    border-radius: 50%;
    cursor: pointer;
}

.page3-play .icon i {
    color: #111;
    font-size: 2vw;
}

#page3 video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    border-radius: 30px;
    opacity: 0;
    z-index: 9999999;
}


#stories {
    display: flex;
    padding: 7vw 6vw;
    background-color: #ffffff;
    padding-bottom: 70px;
}

.stories-right {
    width: 35%;
    font-size: 1.5rem;
    padding-right: 50px;
}

.stories-right h1 {
    color: black;
    font-weight: 600;
    line-height: 1.2;
}

.stories-left {
    width: 70%;
    padding-left: 230px;
}

.stories-left h3 {
    color: #797878;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
}

.stories-left p {
    font-size: 1.3rem;
    padding: 30px 0;
    color: black;
}

.coloum {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    gap: 10px;
    padding: 0 110px;
}

.list-item {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.list-item h1 {
    font-weight: 400;
    font-size: 4rem;
    padding: 15px;
    color: #111;
}

.list-item h2 {
    font-size: small;
    font-weight: 400;
    padding: 5px 10px;
    color: #111;
}

.list-item h3 {
    padding-top: 80px;
    font-size: 0.8rem;
    margin: 20px 15px;
    color: #b3b1b1;
}

.feature {
    padding: 14vw 5vw;
    padding-left: 30%;
    padding-bottom: 50px;
}

.feature h2 {
    color: #111;
    float: left;
    font-weight: 400;
    font-size: small;
    position: relative;
    padding-top: 1rem;
    padding-right: 20%;
    padding-bottom: 1.9vw;
}

.feature p {
    color: #111;
    font-size: 33px;
    line-height: 1.4;
    word-spacing: 0.1px;
}

#page5 {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.section {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12vh 5vw;
    padding-bottom: 0;
}

.sec-left {
    height: 75vh;
    width: 25%;
    border-top: 1px solid #a8a6a6;
}

.sec {
    width: 25px;
    filter: invert(1);
}

.sec-left .blue-btn {
    margin-top: 165px;
}

.sec-left h2:hover {
    border-top: 2px solid #5a5858;
}

.sec-left h2 {
    color: #111;
    font-size: 2.5vw;
    font-weight: 500;
    padding-top: 15px;
}

.sec-left p {
    color: #111;
    padding-top: 40%;
    font-size: 1.1rem;
}

.sec-left h2 img {
    padding-left: 10px;
    width: 35px;
}

.circle-container-1 {
    position: absolute;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #4F5BFF;
    opacity: 0;
    scale: 0;
}

.circle-container-1 .element2 {
    font-size: 0.9vw;
    text-transform: uppercase;
}

.circle-container-1 .element1 {
    width: 40px;
}

.circle-container-2 {
    position: absolute;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #4F5BFF;
    opacity: 0;
    scale: 0;
}

.circle-container-2 .element2 {
    font-size: 0.9vw;
    text-transform: uppercase;
}

.circle-container-2 .element1 {
    width: 40px;
}

.sec-right {
    height: 75vh;
    width: 70%;
    position: relative;
    display: flex;
}

.sec-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec-right video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
}

.sec-right-1 {
    height: 75vh;
    width: 70%;
    position: relative;
    display: flex;
}

.sec-right-1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec-right-1 video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
}

#page6 {
    min-height: 100vh;
    width: 100%;
    padding-top: 8vw;
    display: flex;
    gap: 10%;
    justify-content: center;
    padding-left: 25%;
    padding-bottom: 25%;
}

.tech-left {
    width: 36%;
    border-top: 1px solid #b8b7b7;
}

.tech-left img {
    width: 20px;
}

.tech-left h2 {
    padding: 1vw 0;
    color: #111;
    font-weight: 400;
    font-size: 2.3vw;
}

.tech-left h2:hover {
    border-top: 2px solid #111;
}

.left1 p {
    color: #111;
    padding-top: 60px;
    padding-bottom: 40px;
}

.left2 {
    position: absolute;
    width: 27%;
    height: 70vh;
}


.left2 img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

.left2 video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    overflow: hidden;
}

.tech-left-1 {
    width: 36%;
    border-top: 1px solid #b8b7b7;
}

.tech-left-1 img {
    width: 20px;
}

.tech-left-1 h2 {
    padding: 1vw 0;
    color: #111;
    font-weight: 400;
    font-size: 2.3vw;
}

.tech-left-1 h2:hover {
    border-top: 2px solid #111;
}


.left-1 p {
    color: #111;
    padding-top: 60px;
    padding-bottom: 40px;

}

.left-2 {
    position: absolute;
    width: 27%;
    height: 70vh;
}


.left-2 img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.left-2 video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    overflow: hidden;
}

#page7 {
    background-color: #111;
    min-height: 100vh;
    width: 100%;
    padding-top: 7vw;
}

.text {
    padding-left: 30rem;
    font-size: 4vw;
    line-height: 1.1;
    padding-bottom: 5vw;
}

.bar {
    width: 86%;
    height: 0vh;
    border-bottom: 1px solid #696969;
    margin-left: 105px;
}

.client {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 12vh 6.5vw;
}

.client>button {
    gap: 8px;
    padding: 1.4vw 3vw;
    width: 25%;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 15%;
    transition: transform .2s;
}

.client>button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.client button img {
    width: 22px;
    filter: invert(1);
}

.client-right {
    width: 70%;
}

.client-right h3 {
    float: left;
    font-weight: 400;
    font-size: 0.9rem;
    padding-top: 0.4rem;
    padding-right: 20%;
    padding-bottom: 1.5vw;
    position: relative;
}

.client-right p {
    font-size: 2rem;
    line-height: 1.3;
}

.right-content {
    width: 100%;
    margin-top: 10vh;
    padding: 2vh 0;
    border-top: 3px solid #bbbbbb;
}


.right-content .ux {
    filter: invert(1);
    width: 22px;
    margin-left: 62%
}

.ux:hover {
    cursor: pointer;
}

.right-content .ux-1 {
    width: 22px;
    margin-left: 55%;
    filter: invert(1);
}

.ux-1:hover {
    cursor: pointer;
}

.right-content h1 {
    font-size: 3rem;
    font-weight: 600;
}

.flex {
    display: flex;
    padding: 5vh 0;
}

.flex h4 {
    border-radius: 50px;
    border: 1px solid #585858;
    padding: 0.5vh 1.3vw;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
}

.page-container {
    height: 100vh;
}

.page-container-1 {
    height: 100vh;
    display: none;
}

.page-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid #585858;
    padding-top: 3vh;
    padding-bottom: 9vh;
    position: relative;
    overflow: hidden;
}

.page-elem h2 {
    font-size: 1.4vw;
    font-weight: 400;
    width: 21%;
    position: relative;
    z-index: 8;
}

.page-elem p {
    width: 60%;
    font-size: 0.88vw;
    font-weight: 500;
    line-height: 1.5;
    position: relative;
    z-index: 8;
    margin-left: 50px;
}

.page-elem img {
    width: 25px;
    filter: invert(1);
    position: relative;
    margin-left: 100px;
}

.over {
    height: 100%;
    width: 100%;
    background-color: #242424;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page-elem:hover h2 {
    padding-left: 1vw;
}

.page-elem:hover img {
    padding-right: 0.5vw;
}

.page-elem:hover .over {
    transform: translateY(0);
    opacity: 1;
}

.page-elem:hover {
    border-top: 2px solid #fff;
}

.product h1 {
    border-top: 1px solid #5a5858;
    padding-top: 10px;
}

.product:hover {
    border-top: 2px solid #dfdbdb;
}

.page7-content {
    background-color: #111;
    padding-bottom: 80px;
}

.page7-content>h1 {
    text-align: center;
    font-size: 0.9vw;
    font-weight: 500;
    padding-top: 12vh;
    padding-bottom: 6vh;
    align-items: center;
}

.page7-content>p {
    text-align: center;
    width: 60%;
    font-size: 1.8vw;
    margin-left: 22%;
    padding-bottom: 10vh;
}

.coloum-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, auto));
    gap: 11px;
    padding: 0 110px;
}

.list-item-1 {
    background-color: #1d1c1c;
    border-radius: 5px;
}

.list-item-1 img {
    width: 28px;
    filter: invert(1);
}

.list-item-1 h3 {
    display: flex;
    margin: 1vw;
    padding-bottom: 1vh;
    justify-content: space-between;
    font-size: 1.5vw;
    font-weight: 500;
}

.list-item-1 p {
    font-size: 0.8vw;
    padding-top: 15vh;
    margin: 1vw;
    padding-bottom: 1vh;
    font-weight: 500;
}

.arow {
    width: 23px;
    filter: invert(1);
}

.circle-container {
    position: relative;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #0BA34E;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    transition: transform .2s;
}

.circle-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.element {
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.element1 {
    top: 25%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.element2 {
    bottom: 25%;
    left: 42%;
    transform: translate(-50%, 50%);
    font-weight: 600;
    font-size: 1vw;
}

#page8 {
    min-height: 100vh;
    width: 100%;
    padding: 12vh 6vw;
}

#page8 h1 {
    color: #111;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 6vw;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 12vh;
    border-bottom: 1px solid #cfcfcf;
}

.page8-content {
    display: flex;
    align-items: flex-start;
    padding-top: 10vh;
}

.page8-content .page8-right {
    width: 65%;
    padding-left: 5%;
}

.page8-right p {
    color: #404040;
    font-size: 1.5vw;
    line-height: 1.3;
    margin-bottom: 12vh;
}

.blue-btn {
    background-color: #4F5BFF;
    width: 18vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: transform .2s;
}

.blue-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.blue-btn h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 10px;
    font-weight: 500;
    font-size: 0.9vw;
    color: white;
}

.blue-btn img {
    width: 23px;
    filter: invert(1);
}

.page8-bottom {
    height: 44vh;
    width: 100%;
    border-top: 1px solid #c4c1c1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.btm8-part1 {
    border-right: 1px solid #c4c1c1;
    width: 30%;
    height: 100%;
}

.btm8-part2 {
    border-right: 1px solid #c4c1c1;
    width: 27%;
    height: 100%;
}

.btm8-part3 {
    border-right: 1px solid #c4c1c1;
    width: 20%;
    height: 100%;
}

.btm8-part4 {
    border-right: 1px solid #c4c1c1;
    width: 23%;
    height: 100%;
}

.btm8-part5 {
    width: 15%;
    height: 100%;
}

.btm8 {
    padding: 3vh 0.2vw;
}

.btm8 h5 {
    color: #353535;
    font-weight: 500;
    font-size: 1vw;
    margin-bottom: 3vh;
}

.btm8 h4 {
    background-color: #111;
    width: 80%;
    padding: 4px 4px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 0.8vw;
    display: flex;
    align-items: center;
    margin-bottom: 0.5vh;
    color: #dddbdb;
}

.btm8 span {
    background-color: #333;
    padding: 0.5vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.9vw;
    height: 1.9vw;
    margin-right: 1vw;
}

.btm8-part2 h4:nth-child(2) {
    transform: translateX(0);
}

.btm8-part2 h4:nth-child(3) {
    transform: translateX(10%);
}

.btm8-part2 h4:nth-child(4) {
    transform: translateX(20%);
}

.btm8-part2 h4:nth-child(5) {
    transform: translateX(30%);
}

.btm8-part2 h4:nth-child(6) {
    transform: translateX(40%);
}

.btm8-part2 h4:nth-child(7) {
    transform: translateX(50%);
}

.btm8-part3 h4:nth-child(2) {
    transform: translateX(0);
}

.btm8-part3 h4:nth-child(3) {
    transform: translateX(30%);
}

.btm8-part4 h4:nth-child(2) {
    transform: translateX(0);
}

.btm8-part4 h4:nth-child(3) {
    transform: translateX(30%);
}

.btm8-part4 h4:nth-child(4) {
    transform: translateX(50%);
}

#page9 {
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 9vw 7vw;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #333;
}

.page9-left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1vw 0;
}

.page9-left h3 {
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 500;
}

.page9-left h2 {
    font-size: 3vw;
    line-height: 1.2;
    padding-bottom: 20%;
    padding-top: 20%;
}

.page9-left p {
    font-size: 0.9vw;
    width: 60%;
    font-weight: 500;
}

.page9-right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    align-items: flex-start;
    padding-top: 26px;
}

.page9-right-1 {
    border-top: 1px solid #5a5858;
    padding-top: 30px;
}

.page9-right-1 h4 {
    font-size: 0.9vw;
    font-weight: 600;
    color: #949191;
    padding-bottom: 2vw;
}

.page9-right-1 p {
    font-size: 1.2vw;

}

.page9-img {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 2vw 0;
}

.page9-img h2 {
    font-size: 1vw;
    font-weight: 500;
    line-height: 2;
    color: #aeacac;
}

.page9-img h2 span {
    font-size: 0.75vw;
    color: #aeacac
}

.page9-img img {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
}

#page10 {
    background: #111;
    width: 100%;
    min-height: 100vh;
}

.head {
    width: 85%;
    padding-left: 30%;
    font-size: 2.5vw;
    line-height: 1.1;
}

.client-1 {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 20vh 6.5vw;
}

.client-1>button {
    gap: 8px;
    padding: 1.4vw 3vw;
    width: 20%;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 15%;
    transition: transform .2s;
}

.client-1>button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.client-1 button img {
    width: 22px;
    filter: invert(1);
}

.client-right-1 {
    width: 73%;
}

.client-right-1 p {
    font-size: 2rem;
    line-height: 1.3;
    border-bottom: 1px solid #797878;
    padding-bottom: 40px;
}

.web {
    display: flex;
    gap: 40px;
    padding: 5vh 0;
}

.web h5 {
    font-size: 2.4vw;
    font-weight: 400;
    position: relative;
}

.web span svg {
    width: 20px;
    top: 10%;
    position: absolute;
    margin-left: 4px;
}

.trophy {
    padding-top: 20vh;
}

.trophy>h1 {
    font-size: 3.5vw;
    font-weight: 700;
    line-height: 1.2;
}

.tr-coloum {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 6px;
    padding-top: 80px;
    padding-bottom: 12vh;
}

.tr-list-item {
    background-color: #252525;
    border-radius: 5px;
}

.tr-list-item h1 {
    font-size: 0.9vw;
    margin: 10px;
}

.tr-list-item h2 {
    width: 100px;
    height: 100px;
    margin-left: 64px;
    padding: 30px 0;
}

.tr-list-item h3 {
    font-size: 0.85vw;
    font-weight: 500;
    padding-top: 8vh;
    margin: 10px;
    color: #b9b6b6;
}

.content-img img {
    filter: invert(1);
    height: 20px;
    width: 20px;
}

.content-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 0;
    border-top: 1px solid #585858;
    padding-bottom: 7vh;
}

.content-list:hover {
    border-top: 2px solid #fff;
}

.content-list h1 {
    font-size: 4vw;
    font-weight: 500;
}

.content-img {
    padding-left: 12%;
    gap: 1.5vw;
    display: flex;
}

.content-list .c-img {
    filter: invert(1);
    width: 15px;
}

.content-list .c-img1 {
    filter: invert(1);
    width: 15px;
}

.content-list1 {
    display: flex;
    align-items: flex-start;
    padding: 3vh 0;
    border-top: 1px solid #5a5858;
    position: relative;
}

.content-list1:hover {
    border-top: 2px solid #fff;
}

.content-list1 h1 {
    font-weight: 400;
}

.content-list1 .listimg {
    width: 28%;
    height: 28%;
    opacity: 0;
    z-index: 8;
}

.list1-img img {
    width: 22px;
}

.list1-img h5 {
    align-items: center;
    display: flex;
    gap: 30px;
}

.list1-img1 img {
    filter: invert(1);
}

.list1-img1 {
    display: flex;
    flex-direction: column;
}

.h4 {
    padding-left: 90px;

}

.h4 h4 {
    font-weight: 400;
    font-size: 0.9vw;
    color: #a4a3a3;
}

.list1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2vh 0;
}

.limg {
    padding-left: 9vw;
}

.limg1 {
    padding-left: 5vw;
}

.limg2 {
    padding-left: 17.5vw;
}

.limg3 {
    padding-left: 23vw;
}

.limg4 {
    padding-left: 5.5vw;
}

.limg5 {
    padding-left: 12.5vw;
}

.lists1 {
    display: none;
}

#page11 {
    background-color: #111;
}

#page11>h1 {
    font-size: 5vw;
    line-height: 1.2;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
}

.page11-content {
    padding: 8vh 7vw;
}

.cont-list {
    display: flex;
    border-top: 1px solid #585858;
    padding: 5vh 0;
}

.cont-list:hover {
    border-top: 2px solid #fff;
}

.cont-list2 {
    display: flex;
    border-top: 1px solid #585858;
    padding: 5vh 0;
}

.cont-list2:hover {
    border-top: 2px solid #fff;
}

.arrow .p11img {
    width: 15px;
    margin-top: 10px;
    filter: invert(1);
}

.arrow .p11img1 {
    width: 15px;
    margin-top: 6px;
    filter: invert(1);
}

.cont-list1 {
    width: 49%;
}

.cont-list h2 {
    font-size: 0.8vw;
    width: 50%;
    font-weight: 500;
    color: #5b5a5a;
}

.cont-list2 h2 {
    font-size: 0.8vw;
    width: 50%;
    font-weight: 500;
    color: #5b5a5a;
}

.arrow {
    display: flex;
    width: 100%;
    gap: 40px;
    align-items: flex-start;
    justify-content: space-between;
}

.arrow>h3 {
    font-size: 1.4vw;
}

.cont-list1 p {
    padding: 5vh 0;
    font-size: 0.99vw;
    font-weight: 500;
}

.para {
    transition: all 0.5s ease-in-out;
}

.para1 {
    max-height: 0;
    overflow: hidden;
}

.cont-list2.active .para1 {
    max-height: 300px;
    transition: all 0.5s ease-in-out;
}

.cont-list2.active .p11img1 {
    transform: rotate(180deg);
}

#page12 {
    background-color: #111;
    padding: 15vh 7vw;
}

#page12>h1 {
    padding-left: 29%;
    font-size: 4vw;
    line-height: 1.2;
    padding-bottom: 10vh;
}

.page12-cont {
    display: flex;
    align-items: flex-start;
    border-top: 1px solid #585858;
    padding-top: 10vh;
}

.cont-left {
    width: 20%;
}

.cont-right {
    width: 80%;
}

.cont-right h3 {
    float: left;
    font-size: 0.9vw;
    padding-top: 10px;
    position: relative;
    padding-right: 10vw;
    padding-bottom: 1vw;
    font-weight: 400;
}

.cont-right p {
    font-size: 2vw;
    padding-bottom: 15vh;
}

.cont-left svg {
    width: 120px;
}

.cont2-left svg {
    width: 35px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.cont2 {
    display: flex;
    border-top: 1px solid #585858;
    padding: 5vh 0;
    gap: 10vw;
    padding-bottom: 15vw;
}

.cont2-left {
    width: 70%;
    text-align: center;
}

.cont2-left>h1 {
    font-size: 1.2vw;
    color: #d3d1d1;
    line-height: 1;
    font-weight: 500;
}

.cont2-left>h1 span {
    font-size: 0.8vw;
    color: #d3d1d1;
}

.cont2-left h3 {
    font-size: 2.2vw;
    font-weight: 400;
}

.cont2-right {
    width: 40%;
}

.cont2-right img {
    width: 430px;
    height: 600px;
}

.f-img {
    border-radius: 50%;
    width: 60px;
}

.italic {
    font-style: italic;
}

.left-para {
    display: flex;
    text-align: left;
    gap: 20px;
    padding-top: 15vh;
}

.left-para p {
    font-weight: 500;
    font-size: 1vw;
}

.page12-list{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid #404040;
    padding-top: 5vh;
}

.page12-left>h2{
    font-size: 4vw;
    line-height: 1.1;
}

.page12-left{
    width: 80%;
}

.page12-right{
    width: 30%;
}

.right1{
    display: flex;
    position: relative;
}

.right1>h3{
    position: absolute;
    font-size: 1vw;
    font-weight: 400;
}

#mail {
    background-color: #111;
    border-bottom: 1px solid #585858;
    border-style: none none solid;
    height: auto;
    margin-bottom: 0;
    padding: 0 0 1rem;
    font-size: 1.6rem;
}

#mail:hover{
    border-bottom: 1px solid #0eb019;
}

.circle-cont {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #292828;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
}

.circle-cont:hover{
    cursor: pointer;
}

.elem{
    position: absolute;
    border-radius: 5px;
    top: 30%;
}

.arw{
    width: 16px;
    filter: invert(1);
}

.right2 svg{
    width: 15px;
}

.right2{
    padding: 8vh 0;
}

.right2>h3{
    font-size: 0.9vw;
    color: #787878;
    font-weight: 700;
    padding-bottom: 1vh;
}

.right2 span{
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 15px;
}

.right3>h3{
    font-size: 0.9vw;
    color: #787878;
    font-weight: 700;
}

.right3 span{
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 5px 0;
    display: inline-block;
    font-size: 0.9vw;
    font-weight: 600;
}

.right3>span, .right2>span:hover{
    cursor: pointer;
}

footer{
    padding: 5vh 7vw;
    background-color: #111;
}

.footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #404040;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 2vh;  
}

.f-left{
    width: 50%;
}

.f-left>h3{
    font-size: 0.85vw;
    font-weight: 500;
    color: #7d7d7d;
}

.f-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45%;
    width: 30%;
}

.f-right h3, h4{
    font-size: 0.85vw;
    font-weight: 500;
    color: #7d7d7d;
}